
@import 'nib'
@require 'gallery'

body
  overflow-x: hidden
  overflow-y: scroll
  width: 100%
  height: 100%
  color: #3B3333

// Get rid of annoying Firefox link borders
a, a:hover, a:active
  outline: 0

a::-moz-focus-inner
  border: 0

:focus
  outline:none
::-moz-focus-inner
  border:0

h1
  text-align: left
  text-transform: normal
  position: relative
  letter-spacing: inherit

a.navbar-brand
  padding-top: 10px

  img
    height:70px

ul.navbar-nav
  li.current *
    color: #000

.left-menu
  z-index: 1000
  position: relative

// The left column table of contents
.toc
  margin-top: 20px
  position: fixed
  width: 200px

  ul
    padding: 5px
    list-style-position:outside;

  a.active
    color: #000
    text-decoration: none
    font-weight: 500

.view-animate-container
  min-height: 500px
  position:relative;
  overflow-x:hidden

  // height:100%;
  // overflow: hidden
  // overflow-y:scroll;
  // overflow-x:hidden

// Animation styles based on example here:
// http://embed.plnkr.co/p7WZdsy0FznV3zo7VWjU/style.css
.view-animate.ng-enter, .view-animate.ng-leave
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

.rtl .view-animate.ng-enter
  transform: translate3d(100%, 0, 0);

.rtl .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.rtl .view-animate.ng-leave.ng-leave-active
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.ltr .view-animate.ng-leave.ng-leave-active
  transform: translate3d(100%, 0, 0);

// .tb .view-anitmate.gn-leave.ng-leave-active
@media (min-width: 992px)
  .ctaBox a
    float: none

.page
  width: 100%

.icon-twitter
  font-size: 22px
  padding-top: 8px

.slice
  padding: 35px 0

#home
  h1
    text-align: center
    font-size: 42px
    line-height: 50px
    font-weight: 400

  h2
    color: #FFF
    font-size: 26px
    line-height: 36px

    i
      color: #FFF
      text-decoration: none
      font-style: normal
      font-weight: 400

  h3
    line-height: 30px;

  a.learn-more
    color: #FFF
    cursor: pointer
    border-bottom: 1px dotted #ffffff

  a.learn-more:hover
    color:#FFF
    text-decoration: none

a.btn.getting-started
  margin-right: 15px

.launch-signup
  input[type='text']
    width: 300px
    margin-right: 15px
    display: inline-block

  button.btn[type=submit]
    padding: 9px 20px

@media (max-width: 1024px)
  .launch-signup
    margin-top: 20px

@media (max-width: 768px)
  #home
    padding: 30px

    h1
      font-size: 36px
      line-height: 45px

    h2
      font-size: 24px
      line-height: 31px


  .launch-signup
    margin-top: 20px

    input[type="text"]
      width: 240px


section.page
  padding-top: 20px

.center
  text-align: center

h2.subTitle
  line-height: 32px

// Mobile screen style overrides
@media (max-width: 764px)
  body
    padding-top: 65px

  h1
    font-size: 30px
    line-height: 30px
    margin-bottom: 15px

  a.navbar-brand
    img
      height: 50px

.markdown
  h2
    color: #000
    font-weight: 500

  p > code
    margin: 0;
    border: 1px solid #ddd
    background-color: #f8f8f8
    border-radius: 3px
    padding: 0 2px
    color: #333333

  a.external::after
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    content: '\e833'
    margin-left: 2px
    font-size: .7em

.page.content
  h1
    text-decoration: none
    text-transform: none
    text-align: left
    font-size: 30px
    line-height: 35px
    font-weight: 400
    font-style: normal

.blog-date
  font-size: 20px
  font-weight: 300
  line-height: 20px
  font-family: 'Open Sans',sans-serif

// Fix for the signup and getting started buttons
// overlapping at medium screen sizes
@media (min-width: 1200px)
  .ctaBox a.btn-lg
    font-size: 22px !important

@media (max-width: 1200px)
  .ctaBox a.btn-lg
    font-size: 16px !important


// Blog share buttons
button.blog-share
  width: 50px
  height: 40px
  color: #FFF
  padding: 0
  font-size: 20px

  i
    margin-right: 0;

button.blog-share:hover
  color: #FFF

button.blog-share.twitter
  background-color: #4099FF

button.blog-share.google
  background-color: #D34836

button.blog-share.linkedin
  background-color: #03659A

button.blog-share.reddit
  background-color: #99BEEB

button.blog-share.hackernews
  background-color: #ff6600

ul.pricing
  .header
    text-align: center
    background-color: #f5f5f5

  // .center
  //   text-align: center
