@require '/css/gallery'

a.navbar-brand
  padding-top: 10px

  img
    height:70px

div.view-container
  position: relative
  width: 100%

div[ng-view]
  width: 100%;

.icon-twitter
  font-size: 22px
  padding-top: 8px

#home h3
  line-height: 30px;

section.page
  padding-top: 20px

// Mobile screen style overrides
@media (max-width: 764px)
  body
    padding-top: 65px

  a.navbar-brand
    img
      height: 50px
