a.navbar-brand
  padding-top: 10px

div.view-container
  position: relative
  width: 100%

div[ng-view]
  width: 100%;

.icon-twitter
  font-size: 22px
  padding-top: 8px

#home h3
  line-height: 30px;

// div.view
//   position:absolute
//   bottom:100px
//   // padding-top:200px
//   top:0px
//   width:100%


// .ng-enter
//   animation: slideInRight 0.5s both ease-in
//   z-index: 8888
//   background-color: blue

// .ng-leave
//   animation: slideOutLeft 0.5s both ease-in
//   z-index: 9999
//   background-color: green
