.view
  section.page.container(ng-controller="BlogCtrl")
    .row
      .col-md-10
        h1.blog-title {{blogPost.title}}
      .col-md-2
        div.blog-date.pull-right {{ blogPost.date | date : "MMM d, yyyy"}}

    div.markdown(markdown-content="content")
