.view
  section.page.container(ng-controller="DocsCtrl")
    .row
      .col-md-3.hidden-xs
        h3 Table of Contents
        ul
          li
            a(href="#", ng-click="goto('getting-started', $event)") Getting Started
          li
            a(href="#", ng-click="goto('asset-delivery', $event)") Asset Delivery
          li
            a(href="#", ng-click="goto('seo', $event)") SEO
          li
            a(href="#", ng-click="goto('security', $event)") Security/Authentication

      .col-md-9
        #gettingStartedDocs
        h2 Getting Started

        #assetDeliveryDocs
        h2 Asset delivery

        #devWorkflowDocs
        h2 Developement workflow

        #singlePageAppDocs
        h2 Single page apps

        #splitTrafficDocs
        h2 Traffic control rules

        a#seoDocs
        h2 SEO

        a#backendDocs
        h2 Backend/API Integration

        a#securityDocs
        h2 Security/Authentication

  include footer
