.page
  section.page
    h1.noSubtitle App Gallery

    .container
      .row
        .col-sm-6
          .row.gallery-box
            .col-xs-3
              a.thumbnail(href="http://angular-seed.aerobaticapp.com", target="_blank")
                img(src="http://angular-seed.aerobaticapp.com/favicon.png")
            .col-xs-9
              h2 Angular Seed
              p
                | Starter project for building Aerobatic apps using the excellent AngularJS framework.
              p
                a(href="https://github.com/aerobatic/angular-seed", target="_blank") View Source
                |&nbsp;|&nbsp;
                a(href="http://angular-seed.aerobaticapp.com") See it Live

        .col-sm-6
          .row.gallery-box
            .col-xs-3
              a.thumbnail(href="http://todomvc-angular.aerobaticapp.com", target="_blank")
                img(src="http://todomvc-angular.aerobaticapp.com/favicon.png")
            .col-xs-9
              h2 Angular TodoMVC
              p
                | Port of the original <a href="http://todomvc.com/architecture-examples/angularjs/">Angular TodoMVC</a> to the Aerobatic platform. Only minor tweaks required.
              p
                a(href="https://github.com/aerobatic/todomvc-angular", target="_blank") View Source
                |&nbsp;|&nbsp;
                a(href="http://todomvc-angular.aerobaticapp.com", target="_blank") See it Live

      br
      .row
        .col-sm-6
          .row.gallery-box
            .col-xs-3
              a.thumbnail(href="http://slides.aerobatic.io", target="_blank")
                img(src="http://slides.aerobatic.io/favicon.png")
            .col-xs-9
              h2 Aerobatic Slides
              p
                | A collection of presentations on Aerobatic, Single Page Applications, and general web app development. Built with <a href="http://lab.hakim.se/reveal-js" target="_blank">Reveal.js</a>.
              p
                a(href="https://github.com/aerobatic/slides", target="_blank") View Source
                |&nbsp;|&nbsp;
                a(href="http://slides.aerobatic.io", target="_blank") See it Live

        .col-sm-6
          .row.gallery-box
            .col-xs-3
              a.thumbnail(href="http://todomvc-backbone.aerobaticapp.com", target="_blank")
                img(src="http://todomvc-backbone.aerobaticapp.com/favicon.png")
            .col-xs-9
              h2 Backbone TodoMVC
              p
                | Port of the original <a href="http://todomvc.com/dependency-examples/backbone_require/">Backbone TodoMVC</a> to the Aerobatic platform. Only minor tweaks required.
              p
                a(href="https://github.com/aerobatic/todomvc-backbone", target="_blank") View Source
                |&nbsp;|&nbsp;
                a(href="http://todomvc-backbone.aerobaticapp.com", target="_blank") See it Live

  //- include footer
