<div class="view">
  <h1>App Gallery</h1>
  <section id="footerRights">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2014 <a href="http://www.aerobatic.io" target="blank">Aerobatic</a> / All rights reserved.</p>
        </div>
        <div class="col-sm-6">
          <ul class="socialNetwork pull-right">
            <li><a href="https://twitter.com/aerobaticapp" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter iconRounded"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>