<div data-spy="scroll" data-target="#scrollTarget" data-offset="150">
  <!-- Primary Page Layout
  ================================================== -->
  <!-- globalWrapper -->
  <div id="globalWrapper" class="localscroll">
    <!-- header -->
    <header id="mainHeader" class="navbar-fixed-top" role="banner">
      <div class="container">
        <nav class="navbar navbar-default scrollMenu" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="images/aerobatic_logo.png" alt="Aerobatic - wings for nimble web apps" />
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#services"><i class="icon-thumbs-up"></i>Features</a>
              </li>
              <li><a href="#about"><i class="icon-star"></i>Pricing</a>
              </li>
              <li><a href="#contactSlice"><i class="icon-mail"></i>Contact</a>
              </li>
              <li><a href="#news"><i class="icon-comment"></i>Blog</a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </header>
    <!-- header -->
    <!-- content -->
    <section id="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-sm-6">
            <div class="flexslider" id="flexHome">
              <ul class="slides">
                <li>
                  <h1>Nimble web apps</h1>
                  <h2>Wings for nimble web apps.</h2>
                </li>
                <li>
                  <h1>Quick and light</h1>
                  <h2>Craft your app, and leave the dev ops drudgery to us.</h2>
                </li>
                <li>
                  <h1>Streamlined tools</h1>
                  <h2>say something here</h2>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 hidden-xs">
            <img src="images/theme-pics/home-girl.png" alt="Ashley, Bootstrap website template" class="img-responsive" />
          </div>
        </div>
      </div>
    </section>
    <!-- call to action -->
    <section class="color4 slice">
      <div class="ctaBox ctaBoxFullwidth">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>
                <strong>Aerobatic</strong>helps developers build modern web apps.
              </h1>
            </div>
            <div class="col-md-4">
              <a class="btn btn-lg" title="" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207" target="blank">
                <i class="icon-flash"></i> Sign Up Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- call to action -->

    <!-- features -->
    <section class="slice color1" id="services">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Features</h1>
            <h2 class="subTitle">Smart hosting for web apps</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row boxFeature">
              <div class="col-xs-3">
                <i class="icon-heart iconBig"></i>
              </div>
              <div class="col-xs-9">
                <h2>Optimized and automated asset delivery</h2>
                <p>With Aerobatic, your app's assets are minified and served off a CDN to reduce latency.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row boxFeature">
              <div class="col-xs-3">
                <i class="icon-plane-outline  iconBig"></i>
              </div>
              <div class="col-xs-9">
                <h2>Goodbye test environment</h2>
                <p>With Aerobatic’s simulator mode, run your front-end changes locally, and the rest of your app in the cloud. Preview your changes live.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row boxFeature">
              <div class="col-xs-3">
                <i class="icon-resize-full-outline iconBig"></i>
              </div>
              <div class="col-xs-9">
                <h2>Split test like a pro</h2>
                <p>Not sure how users will react to your app’s latest version? Split your traffic with a simple slider and watch the results in real-time.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row boxFeature">
              <div class="col-xs-3">
                <i class="icon-edit iconBig"></i>
              </div>
              <div class="col-xs-9">
                <h2>Dev friendly tools</h2>
                <p>Integrate Aerobatic with the rest of your workflow with our command line tools.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- services -->


    <div id="paralaxSlice1" data-stellar-background-ratio="0.5">
      <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText container">
          <i class="icon-megaphone "></i>
          <blockquote class="bigTitle">Aerobatic
            <br/>removes the drudgery from dev ops
            <br/>
            <small>Will Little, CEO Code Fellows</small>
          </blockquote>
        </div>
      </div>
    </div>
    <section class="slice" id="about">

    </section>
    <section class="pricing slice color1">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="noSubtitle">Pricing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="pricingBloc">
              <h2>Free</h2>
              <h3>0$
                <span>per month</span>
              </h3>
              <ul>
                <li>This is what you get For free</li>
                <li>Not bad, but could be better</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
              </ul>
              <p class="sign">
                <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                Sign up
              </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="pricingBloc">
              <h2>Silver</h2>
              <h3>10$
                <span>per month</span>
              </h3>
              <ul>
                <li>This is a little better</li>
                <li>Though</li>
                <li>Not the best plan for you!</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
              </ul>
              <p class="sign">
                <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                Sign up
              </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="pricingBloc focusPlan">
              <h2>Gold</h2>
              <h3>25$
                <span>per month</span>
              </h3>
              <ul>
                <li>Honestly, go Premium</li>
                <li>We have a lot</li>
                <li>of cool features for you!</li>
                <li>Really, you will love what you will get</li>
                <li>Come on!!</li>
                <li>Please!!!</li>
              </ul>
              <p class="sign">
                <a class="btn btn-large" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                Sign up
              </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="pricingBloc">
              <h2>Platinium</h2>
              <h3>40$
                <span>per month</span>
              </h3>
              <ul>
                <li>This one is super good</li>
                <li>Super awesome</li>
                <li>Just the right plan for you</li>
                <li>If you are</li>
                <li>A super pro!</li>
                <li>No kidding</li>
              </ul>
              <p class="sign">
                <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="paralaxSlice4" data-stellar-background-ratio="0.5">
      <div class="maskParent">
        <div class="paralaxMask"></div>

        <div class="paralaxText">
          <blockquote>Damon said we're awesome too</blockquote>

        </div>
      </div>
    </div>
    <section class="slice" id="contactSlice">
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <h1 class="noSubtitle">Contact us</h1>
          </div>
          <div class="col-sm-12">
            <div id="mapWrapper" class="mb30"></div>
          </div>
          <div class="col-sm-4">
            <h4>Address:</h4>
            <address>
              Aerobatic
              <br/>Seattle, WA USA
              <br/>
            </address>
          </div>
          <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form">

            <div class="col-sm-4">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="comments">Comments</label>
                <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
              </div>

            </div>
            <div class="col-md-8 col-md-offset-4">
              <div class="result"></div>
              <button name="submit" type="submit" class="btn btn-lg" id="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- content -->
    <!-- footer -->

    <section id="footerRights">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyright © 2014 <a href="http://www.aerobatic.io" target="blank">Aerobatic</a> / All rights reserved.</p>
          </div>
          <div class="col-sm-6">
            <ul class="socialNetwork pull-right">
              <li><a href="https://twitter.com/aerobaticapp" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End footer -->
  </div>
  <!-- global wrapper -->
</div>
