.view.my-slide-animation
  //- Hero banner
  section#home
    .container
      .row
        .col-lg-8.col-sm-6
          h1 Wings for modern web apps.
          ul
            li
              h3 Build feature-rich HTML5 single page apps in the cloud
            li
              h3 Zero friction developer experience
            li
              h3 Instant command line deployment
            li
              h3 Craft your app, let us handle the infrastructure and DevOps
        .col-lg-4.col-sm-6.hidden-xs
          img.img-responsive(asset-src='images/html5-logo', alt='html5')

  //-  call to action
  section.color4.slice.cta
    .ctaBox.ctaBoxFullwidth
      .container
        .row
          .col-md-8
            h1
              strong Get started
              span &nbsp;building your app today on the Aerobatic beta platform.
          .col-md-4
            a.btn.btn-lg(title='', href='http://aerobaticapp.com/auth/github', target='blank')
              i.icon-github-circled
              | Login with GitHub

  //-  features
  section#services.slice.color1
    .container
      .row
        .col-xs-12
          h1 Features
          h2.subTitle Smart hosting for web apps
      .row
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-cloud-flash.iconBig
            .col-xs-9
              h2 Highly optimized asset delivery
              p
                | Aerobatic optimizes asset delivery for lightning fast downloads. Also automatically performs pre-processing of CoffeeScript, Sass, LESS, Stylus, Jade, Markdown, and more.
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-code.iconBig
            .col-xs-9
              h2 Use the libraries you love
              p
                | Aerobatic is a platform, not a framework. You can build your app with any browser technology you wish including jQuery, Bootstrap, AngularJS, Ember, D3, and whatever next best thing comes along.
      .row
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-shuffle.iconBig
            .col-xs-9
              h2 Split test like a pro
              p
                | Not sure how users will react to your app’s latest version? Split your traffic with a simple slider and watch the results in real-time.
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-terminal.iconBig
            .col-xs-9
              h2 Dev friendly tools
              p
                | The yoke command line tool cleanly integrates into a streamlined modern web dev workflow. Push a new version to production with just a few keystrokes.
      .row
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-network.iconBig
            .col-xs-9
              h2 Works with the web
              p
                | Rich interactivity of a single page app with the discoverability and reach of the web. Multi-device targeting, SEO, deep-links, and more.
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-lock-empty.iconBig
            .col-xs-9
              h2 Built-in Security
              p
                | Authenticate users with OAuth or against your own credential store. Enforce SSL with the click of a box.
      .row
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-cog-alt.iconBig
            .col-xs-9
              h2 Integrate with any backend
              p
                | Invoke web APIs directly from the browser or use Aerobatic's intelligent service proxy to securely store and manage your access keys.
        .col-sm-6
          .row.boxFeature
            .col-xs-3
              i.icon-block.iconBig
            .col-xs-9
              h2 Goodbye test environment
              p
                | With Aerobatic’s simulator mode, run your front-end changes locally, and the rest of your app in the cloud. Preview your changes live in production.
      //-     //
      //-         <div class="col-sm-6">
      //-                 <div class="row boxFeature">
      //-                   <div class="col-xs-3">
      //-                     <i class="icon-signal iconBig"></i>
      //-                   </div>
      //-                   <div class="col-xs-9">
      //-                     <h2>Real-Time</h2>
      //-                     <p>Leverage our web socket hooks to build real-time applications right in the browser.</p>
      //-                   </div>
      //-                 </div>
      //-               </div>
      //-             </div>
      //-           </div>
      //- //

  include footer
