#appContainer
  div(data-spy='scroll', data-target='#scrollTarget', data-offset='150', ng-cloak='ng-cloak')
    //- header
    header#mainHeader.navbar-fixed-top(role='banner', ng-controller='HeaderCtrl')
      .container
        nav.navbar.navbar-default.scrollMenu(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse', ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#index')
              img(asset-src='images/logo-large-beta', width='218', height='70', alt='Aerobatic - wings for nimble web apps')

          #scrollTarget.collapse.navbar-collapse.navbar-ex1-collapse(ng-class="!navCollapsed && 'in'", ng-click="navCollapsed=true")
            ul.nav.navbar-nav.pull-right
              li
                a(href='#docs')
                  i.icon-book
                  | Docs
              li
                a(href='#gallery')
                  i.icon-picture
                  | Gallery
              li
                a(href='#about')
                  i.icon-info-circled
                  | About
              li
                a(href='#blog')
                  i.icon-bullhorn
                  | Blog

    .view-container
      .my-slide-animation(ng-view='ng-view')
