<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- web font  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

<link type="text/css" rel="stylesheet" ng-href="css/custom-icons.css">

<link type="text/css" rel="stylesheet" ng-href="css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" ng-href="css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" ng-href="css/colors.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

<div ng-view>

</div>
