#appContainer(ng-controller='MainCtrl', ng-cloak)
  //- header
  header#mainHeader.navbar-fixed-top(role='banner')
    .container
      nav.navbar.navbar-default.scrollMenu(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse', ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#!/index')
            img(asset-src='images/logo-large-beta', alt='Aerobatic - wings for nimble web apps')
            {{location.path()}}

        .collapse.navbar-collapse.navbar-ex1-collapse(ng-class="!navCollapsed && 'in'", ng-click="navCollapsed=true")
          ul.nav.navbar-nav.pull-right
            li(ng-class="{current:navSelected('/docs')}")
              a(href='#!/docs/introduction')
                i.icon-book
                | Docs
            li(ng-class="{current:navSelected('/gallery')}")
              a(href='#!/gallery')
                i.icon-picture
                | Gallery
            //- li(ng-class="{current:navSelected('/about')}")
            //-   a(href='/#!/about')
            //-     i.icon-info-circled
            //-     | About
            li(ng-class="{current:navSelected('/contact')}")
              a(href="#!/contact")
                i.icon-mail-1
                | Contact
            li(ng-class="{current:navSelected('/blog')}")
              a(href='#!/blog')
                i.icon-bullhorn
                | Blog

  div.clearfix(ng-class="{container:showLeftMenu()}")
    .row
      .col-md-3.visible-md.visible-lg.left-menu(ng-class="{hidden:!showLeftMenu()}")
        div.toc.well
          h3 Table of Contents
          ul
            li(ng-repeat="topic in docsTableOfContents")
              a(ng-href="{{'#!/docs/' + topic[0]}}", ng-class="{active:isActiveToc(topic[0])}") {{topic[1]}}


      .col-xs-12(ng-class="showLeftMenu() ? 'col-md-9' : 'col-md-12'")
        .view-animate-container.rtl
          div.view-animate(ng-view)

  section#footerRights.clearfix
    .container
      .row
        .col-sm-6
          p
            | Copyright © 2014
            a(href='http://www.aerobatic.io', target='blank') Aerobatic
            | / All rights reserved.
        .col-sm-6
          ul.socialNetwork.pull-right
            li
              a.tips(href='https://twitter.com/aerobaticapp', title='follow me on Twitter', target='_blank')
                i.icon-twitter.iconRounded
