.view
  section.page.content(ng-cloak)
    .container
      h1 Pricing
      .row
        .col-md-3
          ul.list-group.pricing
            li.list-group-item.header
              span.h3 Indie Edition
            li.list-group-item.center
              span.h3 Free
            li.list-group-item.center
              a.btn.btn-default(href="https://aerobaticapp.com/auth/github") Sign-In
            li.list-group-item Up to 5 apps
            li.list-group-item 2 developers per app
            li.list-group-item 5GB transfer
            li.list-group-item aerobaticapp.com domain with SSL
            li.list-group-item SEO snapshots via grunt task
            li.list-group-item Standard support

        .col-md-3
          ul.list-group.pricing
            li.list-group-item.header
              span.h3 Starter Edition
            li.list-group-item.center
              span.h3 $20 a month
            li.list-group-item.center
              a.btn.btn-default(href="#") Coming Fall 2014
            li.list-group-item Up to 5 apps
            li.list-group-item Organizations up to 5 devs
            li.list-group-item 10GB transfer
            li.list-group-item Custom domains with SSL
            li.list-group-item SEO snapshots via grunt task
            li.list-group-item Standard support

        .col-md-3
          ul.list-group.pricing
            li.list-group-item.header
              span.h3 Business Edition
            li.list-group-item.center
              span.h3 $149 a month
            li.list-group-item.center
              a.btn.btn-default(href="#") Coming Fall 2014
            li.list-group-item Up to 10 apps
            li.list-group-item Organizations up to 10 devs
            li.list-group-item 1TB transfer + $0.10/GB over
            li.list-group-item $15 each addtl app or dev
            li.list-group-item Custom domains with SSL
            li.list-group-item Fully automated SEO
            li.list-group-item Priority support

        .col-md-3
          ul.list-group.pricing
            li.list-group-item.header
              span.h3 Enterprise Edition
            li.list-group-item.center
              a.btn.btn-default(href="mailto:orville@aerobatic.io") Email for Quote
            li.list-group-item Unlimited apps
            li.list-group-item Unlimited organization size
            li.list-group-item Container in your own cloud
            li.list-group-item Fully automated SEO
            li.list-group-item Priority support

      p All plans come with the standard suite of Aerobatic hosting features including Traffic Control, OAuth Integration, API Proxy, Simulator Mode, and automated deployments.
