section#footerRights
  .container
    .row
      .col-sm-6
        p
          | Copyright © 2014
          a(href='http://www.aerobatic.io', target='blank') Aerobatic
          | / All rights reserved.
      .col-sm-6
        ul.socialNetwork.pull-right
          li
            a.tips(href='https://twitter.com/aerobaticapp', title='follow me on Twitter', target='_blank')
              i.icon-twitter.iconRounded
