.view
  section.page.content(ng-cloak)
    .container
      h1 Pricing
      .row
        .col-md-4
          ul.list-group.pricing
            li.list-group-item.header
              span.h4 Indie Edition
            li.list-group-item.center
              span.h4 Free
            li.list-group-item.center
              a.btn.btn-default(href="https://portal.aerobaticapp.com/auth") Sign-In
            li.list-group-item Up to 5 apps
            li.list-group-item Sole developer
            li.list-group-item 5GB transfer
            li.list-group-item aerobaticapp.com domain with SSL
            li.list-group-item Standard support

        .col-md-4
          ul.list-group.pricing
            li.list-group-item.header
              span.h4 Organizations
            li.list-group-item.center
              span.h4 $20 a month + $.15 a GB
            li.list-group-item.center
              a.btn.btn-default(href="#") Coming Soon
            li.list-group-item Unlimited apps
            li.list-group-item Unlimited developers
            li.list-group-item Custom domains with SSL
            li.list-group-item 
              span API Gateway
              a(href="/docs/api-gateway") 
                i.icon-info-circled

            li.list-group-item 
              span Automated search snapshots
              a(href="/docs/seo") 
                i.icon-info-circled

            li.list-group-item 
              span Traffic control rules
              a(href="/docs/traffic-control") 
                i.icon-info-circled

            li.list-group-item Priority support

        .col-md-4
          ul.list-group.pricing
            li.list-group-item.header
              span.h4 Enterprise Edition
            li.list-group-item.center
              a.btn.btn-default(href="mailto:orville@aerobatic.io") Email for Quote
            li.list-group-item Everything in the Organization plan but running on your own cloud